/* Work Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Work Sans Font */

/* shared css start */
* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    background-color: #FF900E;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}

.text-gray {
    color: #727272;
    margin: 30px 0;
    margin-bottom: 50px;
    margin-top: 15px;
}

.section-title {
    margin: 0;
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
}

/* shared css end */

/* header start */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}

/* nav start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-right: 75px;
    font-size: 18px;
    font-weight: 500;
}

ul.display-flex li:last-child {
    padding-right: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* nav end */
/* banner section start */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin: 30px 0;
}

/* banner section end */

/* header end */

/* main section start */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-contianer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 45px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* main section end */

/* FACT SECTION START */
.facts {
    margin: 50px auto;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 60px 58px;
}

.facts-card-container .card img {}

.card-stats {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin: 10px 0px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin: 10px 0;
}

/* FACT SECTION END */

/* sponsor section start */
.sponsor1 {
    text-align: center;
}

.section-title {}

.sponsor-img-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
    gap: 20px;
}

.sponsor-img-container img {
    width: 165px;
}

/* sponsor section end */














/* responsive media queries start */

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-contianer,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .facts-card-container,
    .sponsor-img-container {
        gap: 20px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-contianer,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .facts-card-container,
    .sponsor-img-container {
        gap: 20px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}


/*Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {}


/* responsive media queries end */