/* Work Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Work Sans Font */

/* shared css start */
* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {}

/* shared css end */

/* header start */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}

/* nav start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-right: 75px;
    font-size: 18px;
    font-weight: 500;
}

ul.display-flex li:last-child {
    padding-right: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* nav end */
/* banner section start */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}

/* banner section end */

/* header end */